/* @override http://localhost:8081/screening/control-room/ui/agent-view.reel/agent-view.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.agentView {
    position: relative;
    text-align: center;
    width: 82px;
    padding: 5px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
}

.selected .agentView {
    background-color: hsl(198,100%,90%);
    box-shadow: inset 0 0 0 2px hsl(198,100%,50%), inset 0 1px 3px 2px hsla(0,0%,0%,.3);
}

.agentView .agentIcon {
    background-image: url("img/chrome_medium.png");
    background-size:100%;
    height: 64px;
    width: 64px;
    margin: 0px auto;
    background-repeat: norepeat;
}

.agentView .agentName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.agentView .agentDelete {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 22px;
    height: 22px;
    padding: 0;
    color: #fff;
    border-radius: 20px;
    border: none;
    background: hsl(0,0%,0%);
    cursor:pointer;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 0 2px white, 0 1px 3px 2px hsla(0,0%,0%,.7);
}

.agentView .agentDelete:hover {
    background-color: hsl(0,0%,20%);
}