/* @override http://localhost:8081/screening/control-room/ui/script-results-view.reel/script-results-view.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.controls {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    padding: 10px;
    background-color: hsl(0,0%,70%);
}

.controls h1 {
    margin: 0 0 0 30px;
    color: #555;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    font: bold 19px/1em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.currentPage {
    width: 30px;
    font-family: inherit;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #999;
}
.currentPage:focus {
    outline: none;
    background-color: hsl(0,0%,90%);
    border: 1px solid #999;
}

/*Remove the spinner on <input type"number">*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




/* Table --------------------------------------- */

table {
    width: 100%;
    text-align:left;
    vertical-align:top;
    border-collapse:collapse;
}

th {
    background-color: #584C4C;
    background-image: -webkit-linear-gradient(top, #6f6161, #584c4c);
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 0 black;
}

.note {
    font-size:0.8em;
    font-style:normal;
}

td, th {
    padding:10px;
}

.pass {
    color:#668014;
}

.fail {
    color:#CC1100;
}

.exception {
    color:#F00;
}

.result {
    color:#FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.passed {
    color:#668014;
    text-shadow: #AAA 0.1em 0.1em 0.2em;
}

.failed {
    color:#CC1100;
    text-shadow: #AAA 0.1em 0.1em 0.2em;
}

.exception {
    color: #F00;
    text-shadow: #AAA 0.1em 0.1em 0.2em;
}

td.pass {
    background-color:#668014;
}

td.fail {
    background-color:#CC1100;
}

td.exception {
    background-color:#F00;
    color:#FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}

td.start, td.end {
    background-color:#AAA;
}

td.testcaseName {
    outline-width: thick;
}

td.testcaseName:hover {
    background-color: #584C4C;
    opacity: 60;
    color: #f5f5f5;
    cursor: pointer;
}

.result-detail th:first-child, 
.result-detail td:first-child {
    text-align:center;
}

tr:nth-child(even){ 
    background-color:#F1F1F1;
}

.Checkbox .button {
    border: 0px;
    padding: 0px;
}