/* @override http://localhost:8081/screening/control-room/css/screening.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans&v1);

body {
    margin: 0;
    background-color: #E6E6E6;
    font-family:'Droid Sans', sans-serif;
    font-size: 0.9em;
}

a {
    color: hsl(210,100%,60%);
    text-decoration: none;
}
a:visited {
    color: hsl(210,0%,40%);
}
a:hover {
    text-decoration: underline;
}

.menuBar {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    color:#aeaeae;
    background-color: #584c4c;
    background-image: -webkit-linear-gradient(top, #6f6161, #584c4c);
    
    box-sizing: border-box;
    height: 42px;
    margin: 0;
    padding: 0px 6px;
    white-space: nowrap;
    z-index: 2;
    -webkit-box-shadow: inset 0 -1px 0px hsla(0,0%,0%,.4), inset 0 1px 0px hsla(0,0%,0%,.5);
}

.menuBar .logo {
    color: #000000;
    text-shadow: 0 1px hsla(0,0%,100%,.2);
    text-transform: uppercase;
    font: bold 16px/40px "Lucida Grande", Lucida, Verdana, sans-serif;
    padding-left: 34px;
    background: url('../img/logo.png') no-repeat left center;
}

/* Box --------------------------------------- */

.box {
    max-width: 1200px;
    margin: 20px auto;
    box-sizing: border-box;
    border: 5px solid hsl(0,0%,98%);
    border-radius: 6px;
    box-shadow: 0px 1px 2px hsla(0,0%,0%,.2);
}

@media all and (max-width: 1240px) {
    .box {
        margin: 0px;
        border-radius: 0;
        border: none;
    }
}
