/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.scriptUploader {
    background: rgba(66,66,66,.6);
    color: white;
    height:25px;
    display:block;
    padding-top:15px;
    text-align:center;
    border-bottom:2px solid black;
}

.scriptUploader.dragover {
    background: rgba(66,66,66,.2);
    color:rgb(0,0,0);
}

.scriptUploader.unsupported {
    display:none;
}