/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.menu {
    margin-right: 5px;
}

.menu a {
    outline: none;
    color: hsl(0,0%,80%);
}

.menu a:hover {
    color: hsl(0,0%,100%);
    text-decoration: none;
}