/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.searchScope {
    width: 90px;
}

.script-search {
    
}

.scriptSearch span {
    vertical-align: middle;
}

.scriptSearch .montage-combobox .button {
    padding: 0;
    border: 0;
}

.scriptSearch .scriptSearchBox {
    width: 177px;
}

.scriptSearch .searchButton {
    width: 50px;
    padding: 0.5em 1em 0.5em 0.5em;
}