/* @override http://localhost:8081/screening/control-room/ui/script-search.reel/script-search.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.scriptSearch {
    display: -webkit-box;
    -webkit-box-align: center;
    height: 40px;
    padding: 0 6px;
    background-color: hsl(0,0%,70%);
}

.scriptSearch .searchScope {
    width: 90px;
}

.scriptSearch .scriptSearchBox {
    display: block;
    -webkit-box-flex: 1;
    margin: 0 6px;
}

.scriptSearch .searchButton {}