/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */


.title {
    padding: 20px;
    text-align: center;
    background-color: hsl(0,0%,70%);
}

.title > h1 {
    margin: 0;
    color: #555;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
    font: bold 19px/1em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.title > h1 > span {
    color: #000;
}

.download {
    position: relative;
    right: 0;
    margin: 0;
    padding: 10px;
    color: #999;
    text-align: right;
}

.download a {
    margin: 0 0 5px 20px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.download .note {
    display: block;
    font-size:0.8em;
    font-style:normal;
}

h2 {
    padding: 10px;
    margin: 20px 0 0 0;
    color: #555;
}



table {
    width:100%;
    text-align:left;
    vertical-align:top;
    border-collapse:collapse;
    table-layout:fixed;
    word-wrap: break-word;
}

th {
    background-color: #584C4C;
    background-image: -webkit-linear-gradient(top, #6f6161, #584c4c);
    color:white;
    text-shadow: 0 1px 1px hsla(0,0%,0%,.4);
}

.link {
    color: #584C4C;
}



td, th {
    padding:10px;
    vertical-align: top;
    word-wrap: break-word;
    table-layout: fixed;
}

.passed,
tr.pass {
    color: hsl(114, 97%, 35%);
}

.failed,
tr.fail {
    color: hsl(0, 95%, 41%);
}

.exception,
tr.exception {
    color: hsl(41, 100%, 41%);
}


td.pass {
    color:#FFF;
    background-color: hsl(114, 97%, 35%);
}

td.fail {
    color:#FFF;
    background-color: hsl(0, 95%, 41%);
}

td.exception {
    color:#FFF;
    background-color: hsl(41, 100%, 41%);
}

td.start, td.end {
    color:#FFF;
    background-color:#AAA;
}

td.fileName {
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.result-detail th:first-child, 
.result-detail td:first-child {
    text-align:center;
}
tr:nth-child(even){ 
    background-color:#F1F1F1; 
}

.result-detail .resultColumn {
    width: 90px;
}

.result-detail .objectColumn {
    width: 100px;
}

.result-detail .timeColumn {
    width: 80px;
}

.result-detail .lineColumnColumn {
    width: 80px;
}

.result-detail .filenameColumn {
    width: 150px;
}

.warningBox {
    border: solid 1px #9F6000;
    background: #FEEFB3;
    color: #9F6000;
    padding: 4px;
    text-align: center;
    box-shadow:3px 3px 5px #AAA;
}

.warningBox p {
    font-weight: bolder;
}

.warningBox li {
    text-align: left;
}