/* @override http://localhost:8081/screening/control-room/ui/script-detail-view.reel/script-detail-view.css */

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.scriptDetail {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;    
}


/* Bar */

.pauseRecord {
    display: none;
}

.versionString {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    background-color: #333333;
    border-radius: 4px;
    padding: 5px;
}


.scriptDetail .content {
    padding: 0;
    overflow: auto;
}

.scriptManager .result {
    background:#F2F2F2;
    padding:8px;
}

/* Header */

.scriptDetail .codeHeader {
    padding: 4px 0;
    color: hsl(0,0%,60%);
    background-color: hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-left: 1px solid hsl(0, 0%, 80%);   
}

.scriptDetail .codeHeader label {
    display: inline-block;
    margin-left: 6px;
    font-size: .9em;
}

.scriptDetail .codeHeader input {
    width: 300px;
    background-color: hsl(0,0%,98%);
    border: 1px solid hsl(0,0%,75%);
    border-radius: 4px;
    color: #000000;
    padding: 3px;
    font-size: 1.2em;
    display: block;
}

.scriptDetail .codeHeader input:focus {
    outline: none;
    border-color: hsl(198,100%,50%);
    box-shadow: inset 0px 1px 2px hsla(0,0%,0%,.2);
}

label .label-subtext {
    font-size: 0.75em;
    margin-left: 1em;
}


/* CodeMirror */

.CodeMirror {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    
    overflow-y: auto;
    overflow-x: auto;
    
    background-color: hsl(0, 0%, 98%);
    font-size: 1.1em;
    border-left: 1px solid hsl(0, 0%, 80%);   
}


.CodeMirror-scroll {
    height: auto !important;
    width: auto !important;
    overflow-y: visible !important;
    overflow-x: visible !important;
}


.link:link {
    color: #AEAEAE;
}

.link:visited {
    color: #AEAEAE;
}
